asgiref==3.2.7            # via django
certifi==2020.4.5.1       # via sentry-sdk
django-extensions==2.2.9  # via -r requirements.in
django==3.0.5             # via -r requirements.in
psycopg2-binary==2.8.5    # via -r requirements.in
pytz==2019.3              # via django
sentry-sdk==0.14.3        # via -r requirements.in
six==1.14.0               # via django-extensions
sqlparse==0.3.1           # via django
urllib3==1.25.9           # via sentry-sdk
elastic-apm>=2.0          # THD added